@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base {
  @font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'Kanit';
    src: url('../public/fonts/Kanit/Kanit-Regular.ttf');
  }
}

body {
  @apply font-poppins;
  @apply text-sm;
  @apply overflow-x-hidden;
}
